<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>首页</title>
    <script type = "text/javascript" th:src="@{/jquery/2.1.1/jquery.min.js}"></script>
    <script type = "text/javascript" th:src="@{/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/bootstrapValidator.js}"></script>
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/jsencrypt.min.js}"></script>
</head>

<body>
<div class = "container">
    <div th:include="include/head::nav">
    </div>
    <div class="row">
        <div th:include="include/menu::menu">
        </div>
        <div class = "col-md-9">
<!--            轮播模板-->
            <div class = "panel-body">
                <div id = "carousel" class="carousel slide">
                    <ol class = "carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                </ol>
                    <div class = "carousel-inner">
                        <div class = "item active">
                            <img th:src="@{/img/lb02.jpg}" alt="First slide" />
                        </div>
                        <div class = "item">
                            <img th:src="@{/img/lb01.jpg}" alt="Second slide" />
                        </div>
                        <div class = "item">
                            <img th:src="@{/img/lb03.jpg}" alt="Third slide" />
                        </div>
                    </div>
                    <a class="carousel-control left" href="#carousel"
                       data-slide="prev">&lsaquo;</a> <a
                        class="carousel-control right" href="#carousel"
                        data-slide="next">&rsaquo;</a>
                </div>
            </div>
            <h3>随机推荐</h3>
            <hr />
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row" id="newBookDiv">
                        <div th:each="book:${randomBooks}">
                            <div class="col-md-3" id="randomBook-div">
                                <div class="panel panel-default">
                                    <div style="margin:0px auto">
                                        <img width="100%"  th:src="${book.imgAddr}"/>
                                        <a th:href = "'/book/toInfo?bookId=' + ${book.id} + '&page=1&limit=5'" th:text="${book.name}"></a>
                                        <p id = "randomBookName" th:text="${book.author}" style="width:150px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h3>猜你喜欢</h3>
            <hr />
            <div class="panel panel-default">
                <div class = "panel-body">
                    <p th:if="${#lists.isEmpty(recommendBookList)}">用户评分数据较少,请先进行浏览书籍进行评论</p>
                    <div th:each="recommendBook:${recommendBookList}" th:if="${not #lists.isEmpty(recommendBookList)}">
                        <div class="col-md-3" style="width: 20%;" id="recommendBookDiv">
                            <div class="panel panel-default">
                                <div style="margin:0px auto">
                                    <img width="100%" th:src="${recommendBook.imgAddr}">
                                    <a id="recommendBookName" th:href = "'/book/toInfo?bookId=' + ${recommendBook.id} + '&page=1&limit=5'" th:text="${recommendBook.name}"></a>
                                    <p id="recommendBookAuthor" th:text="${recommendBook.author}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h3>来自你感兴趣的分区</h3>
            <hr />
            <div class="panel panel-default">
                <div class = "panel-body">
                    <p th:if="${#lists.isEmpty(favoriteBookList)}">
                        用户暂未设置偏好，请前往
                        <a href="/person/toCenter">个人中心</a>设置用户偏好</p>
                    <div th:each="recommendBook:${favoriteBookList}" th:if="${not #lists.isEmpty(favoriteBookList)}">
                        <div class="col-md-3" style="width: 20%;" id="recommendBookDiv2">
                            <div class="panel panel-default">
                                <div style="margin:0px auto">
                                    <img width="100%" th:src="${recommendBook.imgAddr}">
                                    <a id="recommendBookName2" th:href = "'/book/toInfo?bookId=' + ${recommendBook.id} + '&page=1&limit=5'" th:text="${recommendBook.name}"></a>
                                    <p id="recommendBookAuthor2" th:text="${recommendBook.author}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h3>热门图书</h3>
            <hr />
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row" id="hotBookDiv">
                        <div th:each="book:${hotBooks}">
                            <div class="col-md-3" id="hotBook-div">
                                <div class="panel panel-default">
                                    <div style="margin:0px auto">
                                        <img width="100%"  th:src="${book.imgAddr}"/>
                                        <a th:href = "'/book/toInfo?bookId=' + ${book.id} + '&page=1&limit=5'" th:text="${book.name}"></a>
                                        <p id = "hotBookName" th:text="${book.author}" style="width:150px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

</div>

</body>
<script>
</script>

</html>