<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>个人中心</title>
    <script type = "text/javascript" th:src="@{/jquery/2.1.1/jquery.min.js}"></script>
    <script type = "text/javascript" th:src="@{/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datetimepicker.min.css}" />
    <script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrapValidator.js}"></script>
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/jsencrypt.min.js}"></script>
</head>

<body>
<div class="container">
    <div th:include="include/head::nav">
    </div>
    <div class = "row">
        <div th:include="include/menu::menu"></div>
        <div class = "col-md-2"></div>
        <div class = "col-md-8">
            <div class = "row">
                <span class = "text-center col-md-8"><h4>基本信息</h4></span>
            </div>
            <div class = "row">
                <div class = "col-md-1"></div>
                <div class = "col-md-7">
                    <form id = "updateUserForm" name = "updateUserForm">
                        <input id = "userId" name = "userId" type="hidden" th:value="${u.userId}"/>
                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-md-3">昵称 </label>
                                <label class="form-label col-md-8" th:text = "${u.name}"></label>
                                <input id="uname" name="uname" class="form-control" type = "hidden" th:value="${u.name}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="form-label col-md-3">密码 </label>
                                <div class="col-md-8">
                                    <button class="btn btn-block btn-info"  type="button" data-toggle="modal" data-target="#updatePswd">修改密码</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="form-label col-md-3">性别 </label>
                                <div class="col-md-8">
                                    <input id="man" name="userSex"  type = "radio" value = "0"/>男
                                    <input id="woman" name="userSex" type = "radio" value = "1"/>女
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="form-label col-md-3">年龄 </label>
                                <div class="col-md-8">
                                    <input id="age" name="age" class="form-control"  th:value="${u.age}"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="form-label col-md-3">生日 </label>
                                <div class="col-md-8">
                                    <input id="birthday" name="birthday" class="form-control"  placeholder="yyyy-MM-dd"  th:value="${#dates.format(u.birthday, 'yyyy-MM-dd')}"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="form-label col-md-3">电子邮箱 </label>
                                <div class="col-md-8">
                                    <input id="email" name="email" class="form-control"  th:value="${u.email}"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="form-label col-md-3">通讯地址 </label>
                                <div class="col-md-8">
                                    <input id="address" name="address" class="form-control"  th:value="${u.address}"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button id = "updateUserBtn" name = "updateUserBtn" class="btn btn-primary btn-block" type="button">确定修改</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary btn-block"  type="button" onclick="javascript:history.back(-1);">返回</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal fade" id="updatePswd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form id = "updateUserPwdForm" name = "updateUserPwdForm">
                             <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">修改密码</h4>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <label class="form-label col-md-3">旧密码 </label>
                                    <div class="col-md-5">
                                        <input id="opswd" name="opswd" type = "password" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <label class="form-label col-md-3">新密码 </label>
                                    <div class="col-md-5">
                                        <input id="npswd" name="npswd" type = "password" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <label class="form-label col-md-3">确认新密码 </label>
                                    <div class="col-md-5">
                                        <input id="cfrmpswd" name="cfrmpswd" type = "password" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id = "updatePswdBtn" name = "updatePswdBtn" type="button" class="btn btn-primary">提交更改</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
</body>
<script>
    $(function() {
        $("#updateUserForm").bootstrapValidator({
            live: 'enabled',
            excluded: [':disabled', 'hidden', ':not(:visible)'],
            submitButtons: '#loginBtn',
            message: '通用的验证失败消息',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                uname: {
                    validators: {
                        notEmpty: {
                            message: '用户名不能为空'
                        },
                        stringLength: {
                            max: 16,
                            message: '用户名长度不能超过16位'
                        }
                    }
                },
                email: {
                    validators: {
                        notEmpty: {
                            message: '邮箱不能为空'
                        },
                        emailAddress: {
                            message: '请输入正确的邮箱地址'
                        }
                    }
                },
                birthday: {
                    validators:{
                        date: {
                            format: 'YYYY-MM-DD',
                            message: '请输入正确的时间格式：如 2000-01-01'
                        }
                    }

                },
                address: {
                    validators: {
                        stringLength: {
                            max: 32,
                            message: '地址长度不可以超过32位'
                        }
                    }
                },
                age: {
                    validators: {
                        digits: {
                            message: '年龄只可以为数字'
                        },
                        greaterThan: {
                            value: 0,
                            message: '年龄不可以小于0'
                        },
                        lessThan: {
                            value: 200,
                            message: '年龄不可以大于200'
                        }
                    }
                }
            }
        });
        $("#updateUserBtn").click(function () { //非submit按钮点击后进行验证，如果是submit则无需此句直接验证
            $("#updateUserForm").bootstrapValidator('validate'); //提交验证
            if ($("#updateUserForm").data('bootstrapValidator').isValid()) { //获取验证结果，如果成功，执行下面代码
                    var userId = $("#userId").val();
                    var userName = $("#uname").val();
                    var email = $("#email").val();
                    var sex = $("input[name='userSex']:checked").val();
                    var birthday = $("#birthday").val();
                    var age = $("#age").val();
                    var address = $("#address").val();
                $.ajax({
                        url:"/person/updateUser",
                        type:"POST",
                        data:{
                            userId:userId,
                            userName:userName,
                            email:email,
                            sex:sex,
                            birthday:birthday,
                            age:age,
                            address:address
                        },
                        success:function (data) {
                            if (data.code == 0) {
                                layer.alert("更新成功",function () {
                                    location.href="/person/toCenter";
                                });
                            }else{
                                layer.alert(data.msg,function () {
                                    location.href="/person/toCenter";
                                });
                            }
                        },
                        error:function () {
                            layer.alert("登陆失败,客户端请求有误");
                        }
                    });
                }
        });
    });


    $(function() {
        $("#updateUserPwdForm").bootstrapValidator({
            live: 'enabled',
            excluded: [':disabled', 'hidden', ':not(:visible)'],
            submitButtons: '#loginBtn',
            message: '通用的验证失败消息',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                opswd: {
                    validators: {
                        notEmpty: {
                            message: '旧密码不能为空'
                        },
                        stringLength: {
                            max: 16,
                            message: '旧密码不能超过16位'
                        }
                    }
                },
                npswd: {
                    validators: {
                        notEmpty: {
                            message: '新密码密码不能为空'
                        },
                        stringLength: {
                            max: 16,
                            message: '新密码不能超过16位'
                        },
                        identical: {
                            field: 'cfrmpswd',
                            message: '用户新密码与确认密码不一致！'
                        }
                    }
                },
                cfrmpswd: {
                    validators: {
                        notEmpty: {
                            message: '确认密码不能为空'
                        },
                        stringLength: {
                            max: 16,
                            message: '确认密码不能超过16位'
                        },
                        identical: {
                            field: 'npswd',
                            message: '用户新密码与确认密码不一致！'
                        }
                    }
                }
            }
        });
        $("#updatePswdBtn").click(function () { //非submit按钮点击后进行验证，如果是submit则无需此句直接验证
            $("#updateUserPwdForm").bootstrapValidator('validate'); //提交验证
            if ($("#updateUserPwdForm").data('bootstrapValidator').isValid()) { //获取验证结果，如果成功，执行下面代码
                var userId = $("#userId").val();
                var opswd = $("#opswd").val();
                var npswd = $("#npswd").val();
                opswd = encryptPwd(opswd);
                npswd = encryptPwd(npswd);
                console.log("旧密码：" + opswd);
                console.log("新密码：" + npswd);
                $.ajax({
                    url:"/person/updateUserPswd",
                    type:"POST",
                    data:{
                        userId:userId,
                        opswd:opswd,
                        npswd:npswd
                    },
                    success:function (data) {
                        if (data.code == 0) {
                            layer.alert("更新成功",function () {
                                location.href="/person/toCenter";
                            });
                        }else{
                            layer.alert(data.msg,function () {
                                location.href="/person/toCenter";
                            });
                        }
                    },
                    error:function () {
                        layer.alert("登陆失败,客户端请求有误");
                    }
                });
            }
        });
    });

    $("#birthday").datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 3,
        minView: 2,
        forceParse: 0,
        format: 'yyyy-mm-dd'
    });

</script>
</html>